body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#base {
    width: 368px;
    height: 576px;
    background-color: #545454;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
}

#display {
    width: 336px;
    height: 80px;
    background-color: #D9D9D9;
    font-size: 32px;
    display: flex;
    align-items: center;
    padding: 0px 16px;
}

.key {
    width: 80px;
    height: 80px;
    background-color: #A6A6A6;
}

.operator {
    width: 80px;
    height: 80px;
    background-color: #FF914D;
}

#ac {
    width: 176px;
    height: 80px;
    background-color: #D9D9D9;
}

#decimal {
    width: 80px;
    height: 80px;
    background-color: #A6A6A6;
}

#backspace {
    background-color: #D9D9D9;
}

button {
    font-size: 24px;
}